# Receiver Configuration
RECEIVER_RELAY_HOST=127.0.0.1
RECEIVER_RELAY_PORT=3001
RECEIVER_RETRANS_HOST=127.0.0.1
RECEIVER_RETRANS_PORT=3002

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
