ITCH_USERNAME=ITCHUSER
ITCH_PASSWORD=ITCHPASSWORD

# PSE ITCH Server Configuration
ITCH_PROD_HOST=10.0.0.1
ITCH_PROD_PORT=5000
ITCH_DR_HOST=10.0.0.2
ITCH_DR_PORT=5000

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
